.card-container {
    perspective: 1000px;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.card {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    border-radius: 10px;
    background-color: #F0FFFF;
    padding: 5px;
    box-sizing: content-box; 
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}
